span{
    position: relative;
    left: 1100px;
    padding: 30px;
    letter-spacing: 30px;
    word-spacing: 10px;
    margin: 10px;
    padding: 100px;
}
div{
    padding: 30px;
    background-color: skyblue;
    
}
strong{
    font-size: 20px;
    color: whitesmoke;
    font-weight: lighter;
}
